<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/meta.ejs') -%>
    <title>TradeMark Generator</title>
</head>

<body>

  <main class="root">
    <div class="wrapper" id="questions-holder">
    </div>
  </main>
  <!-- This is use for Date Picker -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <!-- *** -->
  <script src="js/root.js"></script>
</body>

</html>